<!DOCTYPE html>
<html lang="en" ng-app="root">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/icon.png" type="image/png">
    <title>Angular</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS/SASS -->
    <link href="css/estilos.css" rel="stylesheet">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>

  <body>
    <!-- ******************************
         Directivas
    ng-app        ="nombre_modulo"
    ng-controller ="nombre__controlador"
    ng-model      ="nombre__scope"
    ******************************** -->

    <!-- ejemplo 1 -->
    <h1>Ejemplo 1</h1>
    <div ng-controller="index">{{message}}</div>
    <h4 ng-controller="index">Mi nombre es: {{messageNombre}}</h4>

    <span class="space_example"></span>

    <!-- ejemplo 2 -->
    <h1>Ejemplo 2</h1>
    <div ng-controller="index">
        <div>
            Escribe tu nombre: <input type="text" ng-model="yourname"/>
        </div>
        <div>
            Favorite word: <input type="text" ng-model="favoriteWord"/>
            - [{{favoriteWord}}]
        </div>
        <div>
            Favorite color:
            <input type="radio" name="fc" value="Red" ng-model="favoriteColor"> Red</input>
            <input type="radio" name="fc" value="Green" ng-model="favoriteColor"> Green</input>
            <input type="radio" name="fc" value="Yellow" ng-model="favoriteColor"> Yellow</input>
            <input type="radio" name="fc" value="Blue" ng-model="favoriteColor"> Blue</input>
            - [{{favoriteColor}}]
        </div>
        <div>
            Favorite shape:
            <select ng-model="favoriteShape">
                <option value="Circle">Circle</option>
                <option value="Triangle">Triangle</option>
                <option value="Square">Square</option>
            </select>
            - [{{favoriteShape}}]
        </div>
        <p>Muchas gracias por llenar la informacion<em>{{yourname}}</em></p>
    </div>













    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- operaciones -->
    <script src="js/operaciones.js"></script>
    <!-- modules -->
    <script src="js/modules/root.js"></script>
  </body>
</html>
